<!DOCTYPE html>
<html>
    
    <body class="body">
        <div class="Admin_Login">
            <a href="adminlogin" class="Admin-Login-button">Log In For Admin</a>
        </div>

        <div class="Home_Text">
            <h1>Lari Lari MMU!</h1>
            <h1>It's the best web for you to sell your things</h1>
        
        </div>
        <div class="Ask">
            <h2>Why Choose Lari Lari MMU</h2>
            <div class="Reasons">
                <p>☑ Need to sell things</p>
                <p>☑ Need to buy things</p>
            </div>
        </div>
        <div class= "Account_Button">
            <a href = "Signup" class="Signup-Button">Sign Up</a>
            <a href = "login" class="Login-Button">Log In</a>
        </div>
    </body>
</html>