<!-- rating system -->
<div class="rating"><h2>Item Rating</h2>
    <input type="radio" id="star5_1" name="rating1" value="5">
     <label for="star5_1"></label>
     <input type="radio" id="star4_1" name="rating1" value="4">
     <label for="star4_1"></label>
     <input type="radio" id="star3_1" name="rating1" value="3">
     <label for="star3_1"></label>
     <input type="radio" id="star2_1" name="rating1" value="2">
     <label for="star2_1"></label>
     <input type="radio" id="star1_1" name="rating1" value="1">
     <label for="star1_1"></label>
 </div>
 
 <!-- review system -->
 <!DOCTYPE html>
 <html>
     <body>
         <div class="review">
             <label for="review"><h2>Review:</h2></label>
             <textarea class="reviewtext" id="Review" name="Review" required>{{Write Here...}}</textarea><br><br>
         </div>
 
 